<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Oilring" connectionString="Data Source=46.46.156.42;Initial Catalog=oilring;Integrated Security=False;User Id=oilring_web;Password=kimberlite_1414" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="contentServer" value="http://46.46.156.42/Content"/>
    <add key="staticServer" value="/Content"/>
    <add key="scriptsServer" value="/Scripts"/>
    <add key="filesLocalUploadPath" value="O:\files"/>
    <add key="imagesLocalUploadPath" value="O:\images"/>
    <add key="bannersLocalUploadPath" value="O:\banners"/>
    <add key="hostname" value="oilring.ru"/>
    <add key="mail_gateway" value="localhost"/>
    <add key="mail_gateway_port" value="25"/>
    <add key="mail_gateway_from" value="noreply@oilring.ru"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
