<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="contentServer" value="http://oilring.notamedia.ru/Content" />
    <add key="staticServer" value="/Content" />
    <add key="scriptsServer" value="/Scripts" />
    <add key="filesLocalUploadPath" value="O:\files" />
    <add key="imagesLocalUploadPath" value="O:\images" />
    <add key="bannersLocalUploadPath" value="O:\banners" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Oilring" connectionString="Data Source=win.office.notamedia.ru;Initial Catalog=oilring;Integrated Security=False;User Id=oilring;Password=kimberlite_1414" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>