<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="contentServer" value="http://46.46.156.42/Content"/>
    <add key="staticServer" value="/Content"/>
    <add key="scriptsServer" value="/Scripts"/>
    <add key="filesLocalUploadPath" value="C:\Web\oilring_content\files"/>
    <add key="imagesLocalUploadPath" value="C:\Web\oilring_content\images"/>
    <add key="bannersLocalUploadPath" value="C:\Web\oilring_content\banners"/>
    <add key="hostname" value="http://oilring.ru"/>
    <add key="mail_gateway" value="46.46.156.40"/>
    <add key="mail_gateway_port" value="25"/>
    <add key="mail_gateway_from" value="noreply@oilring.ru"/>
  </appSettings>
  <connectionStrings>
    <add name="Oilring" connectionString="Data Source=localhost;Initial Catalog=oilring;Integrated Security=False;User Id=oilring_web;Password=kimberlite_1414" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>